[submodule "lib/forge-std"]
  branch = "v1"
  path = "lib/forge-std"
  url = git@github.com:foundry-rs/forge-std.git
[submodule "lib/prb-test"]
  branch = "release-v0"
  path = "lib/prb-test"
  url = git@github.com:PaulRBerg/prb-test.git
[submodule "lib/secp256r1-verify"]
	path = lib/secp256r1-verify
	url = git@github.com:get-smooth/secp256r1-verify.git
[submodule "lib/solady"]
	path = lib/solady
	url = git@github.com:vectorized/solady.git
